header {
    width: 100%;
    font-size: 48px;
    height: 72px;
    background-color: black;
    color: white;
    text-align: center;
}
.input-group-sm {
    width: 60%;
}
.city {
    background-color: white;
    width: 80%;
    font-size: 24px;
    padding-left: 0px 10px 0px 0px;
}
.jumbotron {
    border:lightgray solid 1px;
    padding: 10px;
}
.name {
    vertical-align: top;
    background-color: lightblue;
    font-weight: bold;
    width: 35%;
    padding: 20px 0px 20px 20px;
}
.forcast {
    width: 60%;
}
.weatherBox {
    float: left;
    width: 200px;
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    background-color: royalblue;
    border: 2px solid royalblue;
}
#search {
    height: 15%;
    width: 15%;
    padding: 0px 20px 0px 0px;
}
.insideWeather {
    color: white;
}
.display-6 {
    text-align: center;
}