header {
    width: 100%;
    font-size: 48px;
    height: 72px;
    background-color: black;
    color: white;
    text-align: center;
}
.name {
    background-color: lightblue;
    font-weight: bold;
    width: 35%;
    height: 100%;
    padding: 20px 0px 20px 20px;
}
.forcast {
    width: 60%;
}
#lock {
    height: 15%;
    width: 15%;
    padding: 0px 20px 0px 0px;
}